.access {
    text-align: center;
    margin-bottom: 50px;
}
.access-container h2 {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    margin: 2em;
}

.access-container h3 {
    font-size: 13pt;
    position: relative;
    margin: 1em;
}

.way-span {
    background: linear-gradient(transparent 60%, #ffff66 60%);
    font-weight: bold;
}

.access-container p {
    position: relative;
    line-height: 20pt;
    margin-bottom: 10pt;
}

.access-container h2:before {
    content: '';
    position: absolute;
    display: inline-block;

    bottom: -25px;

    width: 60px;
    height: 5px;
    left: 50%;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
}

.table h3 {
    margin-top: 2em;
    font-size: 20px;
    font-weight: bold;
}

.table p {
    text-align: right;
    color: blue;
}

.map {
    margin-top: 2em;
}

.gmap_iframe {
    aspect-ratio: 16 / 9;
    max-width: 1000px;
    width: 100%;
    height: auto;
}
