* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 4%;
}

a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
}

/* header */
.header {
    display: flex;
    width: 100%;
    height: 100px;
}
.header .nav-list {
    display: flex;
}
.header .header-right {
    margin: 0 auto;
}
.header-right a {
    color: #000;
}
.header .header-right .nav-list li {
    width: 150px;
    display: inline-block;
    padding: 35px 0;
    text-align: center;
}
.header .header-right .nav-list li:hover {
    background-color: #a9a9a9;
}
header .inner {
    display: none;
}
.header-left {
    width: 100px;
}

/* pending */
.news {
    padding-top: 50px;
    width: 70%;
    margin: 0 auto;
}
.news-list {
    list-style: none;
}
.news-list .item a {
    display: flex;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}
.news-list .item:first-child a {
    border-top: 1px solid #ccc;
}
.news-list .item .date {
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding-right: 20px;
}
.news-list .item a:hover .title {
    color: black;
}

/* section-title */
.section-title {
    font-size: 30px;
    text-align: center;
    margin: 80px 0;
    font-weight: bold;
}
