* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 4%;
}

a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
}
header nav {
    display: flex;
    align-items: center;
}
header .header-logo {
    width: 100px;
    height: 100px;
}
header .nav-list {
    display: flex;
    align-items: center;
}

header .nav-list li {
    height: 100px;
    padding: 35px 0;
    width: 100px;
    text-align: center;
}

header .nav-list li .info {
    font-size: 10px;
}

header .nav-list a:hover {
    background-color: #ed2b64;
    /* #00008b; */
    text-decoration: none;
    color: #fff;
}

/* footer */
footer {
    border: none !important;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    border-top: 1px solid #ccc;
    /* margin-top: 3em; */
    padding-top: 3em;
    padding-bottom: 2em;
    place-items: center;
    /* background-image: url("../assets/footer.png"); */
    background-color: #005e6b67;
    color: #fff;
}

footer .footer-content {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 4%;
}
footer .footer-contact,
footer .footer-sns {
    width: 50%;
}

footer .copy {
    text-align: center;
    padding-top: 10px;
}
.footer-content h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-contact-info {
    font-size: 15px;
    line-height: 1.25em;
}

.sns-icon {
    width: 50px;
    margin-right: 10px;
}

/* ハンバーガーメニュー */
.openbtn,
.none-nav-list,
.active-nav-list,
.mask,
.mask-none {
    display: none;
}

/* pending */
.pending {
    height: 300px;
    width: 100%;
    background-color: #a9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pending p {
    font-weight: bold;
    font-size: 30px;
}

/* section-title */
.section-title {
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    text-align: center;
    margin: 60px 0 30px 0;
    padding-left: 10px;
    font-weight: bold;
    border-left: solid 4px #ed2b64;
}

@media screen and (max-width: 768px) {
    header .nav-list {
        display: none;
    }

    /* ハンバーガーメニュー */
    .openbtn {
        display: block;
        position: relative;
        background-color: black;
        cursor: pointer;
        width: 90px;
        height: 90px;
        border-radius: 5px;
    }
    .openbtn span {
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 22.5px;
        height: 4px;
        border-radius: 5px;
        background: #fff;
        width: 50%;
    }
    .openbtn span:nth-of-type(1) {
        top: 26px;
    }
    .openbtn span:nth-of-type(2) {
        top: 36px;
    }
    .openbtn span:nth-of-type(3) {
        top: 46px;
    }
    .openbtn span:nth-of-type(3)::after {
        content: "Menu";
        position: absolute;
        top: 15px;
        left: 7.5px;
        color: #fff;
        font-size: 0.6rem;
        text-transform: uppercase;
    }
    .openbtn.active span:nth-of-type(1) {
        top: 28px;
        left: 25px;
        transform: translateY(6px) rotate(-45deg);
        width: 50%;
    }
    .openbtn.active span:nth-of-type(2) {
        opacity: 0;
    }
    .openbtn.active span:nth-of-type(3) {
        top: 40px;
        left: 25px;
        transform: translateY(-6px) rotate(45deg);
        width: 50%;
    }
    .openbtn.active span:nth-of-type(3)::after {
        content: "Close";
        transform: translateY(0) rotate(-45deg);
        top: 18px;
        left: 26px;
    }
    .none-nav-list {
        display: none;
    }
    .active-nav-list {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .active-nav-list ul {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .active-nav-list li {
        width: 400px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .active-nav-list a:hover {
        color: black;
        background-color: #a9a9a9;
    }
    .mask {
        display: block;
        background-color: gray;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0.5;
        cursor: pointer;
        z-index: 8;
    }
}
