.stamp-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

.stamp-title::before,
.stamp-title::after {
    content: '';
    width: 3px;
    height: 40px;
    background-color: #ed2b64;
}

.aa {
    margin: 20px 0;
    text-align: center;
    line-height: 1.5em;
    color: #ed2b64;
}
.bb {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}
.cc {
    font-size: 26px;
    color: #ff0000;
    font-weight: bold;
}
