.funding {
    font-size: 0.9em;
    width: 80%;
    margin: 0 auto;
    padding: 40px 20px 0 20px;
}
.funding h2 {
    font-size: 32px;
    font-weight: bold;
    font-weight: 700;
    text-align: center;
}
.funding h3 {
    font-size: 32px;
    font-weight: bold;
    font-weight: 700;
    position: relative;
    line-height: 1em;
    text-align: center;
}
.funding p {
    font-weight: bold;
    font-size: 1em;
    line-height: 2em;
    text-align: center;
}
.funding a {
    line-height: 2em;
    text-align: center;
}
.funding-btn {
    width: 40%;
}

.funding .btn {
    font-size: 0.95em;
}

.ichipoppo-funding {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    height: auto;
}
.ichipoppo-funding img {
    height: auto;
    width: 88%;
    padding: 20px 3%;
}
.funding h3:before {
    content: '';
    position: absolute;
    display: inline-block;

    bottom: -25px;

    width: 60px;
    height: 5px;
    left: 50%;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
}
