/*.pending {
    background-color: rgb(255, 255, 255);
}
*/
.geijutsu1 h2 {
    border-bottom: 2px solid #e80ca6;
    display: inline-block;
    padding-bottom: 5px; /* 下の余白を調整 */
}
.geijutsu1 img {
    max-width: 100%;
    height: auto;
    width: 500px;
    display: block;
}