.news {
    padding-top: 50px;
    width: 70%;
    margin: 0 auto;
}
.news-list {
    list-style: none;
}
.news-list .item a {
    display: flex;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}
.news-list .item:first-child a {
    border-top: 1px solid #ccc;
}
.news-list .item .date {
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding-right: 20px;
}
.news-list .item a:hover .title {
    color: #ed2b64;
}

@media screen and (max-width: 768px) {
    .news {
        padding-top: 50px;
        width: 90%;
        margin: 0 auto;
    }

    .news-list .item .date {
        /* min-width: 140px; */
        padding-right: 0;
    }
    .news-list .item .date {
        min-width: 100px;
    }
}
