.notice-list {
    /* text-align: center; */
    margin-top: 40px;
}

.notice-list li {
    margin: 10px 0;
}

.tyuuizikou {
    width: 80%;
    margin: 0 auto;
}

.tyuuizikou p {
    font-weight: bold;
    /* text-align: center; */
}
.notice-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    height: auto;
}
.notice-picture img {
    max-width: 100%;
    height: auto;
    width: 200px;
}
