.notice-list {
    text-align: center;
}
.notice-list li {
    margin: 10px 0;
}
.tyuuizikou p {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.notice-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    height: auto;   
}
.notice-picture img {
    max-width: 100%;
    height: auto;
    width: 200px;
}
