.notice-list {
    /* text-align: center; */
    margin-top: 40px;
}

.notice-list li {
    margin: 10px 0;
}

.notice {
    width: 90%;
    margin: 0 auto;
}

.notice p {
    font-weight: bold;
}
.notice-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    height: auto;
}
.notice-picture img {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
    width: 200px;
}
.text {
    line-height: 1.5em;
    background-color: #eee;
    padding: 20px;
}

.bus-schedule {
    padding-top: 10px;
    text-decoration: underline;
}

.text-switch {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.text-switch:hover {
    color: #1e90ff;
}

.notice .text {
    margin-bottom: 80px;
}
